argparse
botocore
urllib3
six
boto3
idna
awscli
s3transfer
python-dateutil
requests
setuptools
certifi
pip
pyyaml
pandas
numpy
rsa
typing-extensions
pyasn1
jmespath
cffi
chardet
colorama
packaging
pytz
protobuf
click
pyparsing
zipp
markupsafe
jinja2
oauthlib
attrs
docutils
requests-oauthlib
pycparser
cryptography
